.App{
  padding: 0px 20px;
}

.title{
  color: white;
  font-family: Raleway;
}
.lists{
  display: flex;
  padding: 10px;
}

.button{
  background-color:white;
  color: rgb(0, 98, 255);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

.button:hover{
  border: 1px solid black;
}